# Using Syntax
syntax: glob

# Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dbmdl
*.gpState
*.guidancestate
*.sln.DotSettings
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files*/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.orig
*.jmconfig

# Ingore SVN Files
.svn

# MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Solution Settings
.vs

# .NET Framework Packages
packages

# Files
GlobalSuppressions.cs